#{extends 'main.html' /}
#{set title:'metrics' /}
<div class="container">

	<div class="masthead">
	<img src="/public/images/logo.png"/>
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	      <ul class="nav">
	        <li><a href="/">Home</a></li>
	        <li class="active"><a href="#">About</a></li>
	      </ul>
	    </div>
	  </div>
	</div><!-- /.navbar -->
	</div><!-- masthead -->
	
	<div class="container">

<p class="lead">Ontologies underpin many information systems in biology, medicine, and beyond. Help us ensure these ontologies are correct!</p>
<p class="lead">
What must I do, you might ask? Simply tell us if you agree with SIO ontology axioms.
</p>
	</div>
	<div class="footer">
  	  <p>&copy; SemanticTrilogy Hackathon 2013</p>
	</div>
</div>


