#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container">
  <div class="masthead">
  	<img src="/public/images/logo.png"/>
	
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	      <ul class="nav">
	        <li class="active"><a href="/">Home</a></li>
	        <li><a href="/about/">About</a></li>
	      </ul>
	    </div>
	  </div>
	</div><!-- /.navbar -->
	</div><!-- masthead -->

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Ontspector</h1>
    <p class="lead">Crowd-source the evaluation of your ontologies!</p>
    <a class="btn btn-large btn-success" href="/signin/">Sign in here!</a>
  </div>
  <hr>
  <div class="footer">
    <p>&copy; SemanticTrilogy Hackathon 2013</p>
  </div>
</div> <!-- /container -->
