#{extends 'main.html' /}
#{set title:'user contribution' /}
<div class="container">

	<div class="masthead">
	<img src="/public/images/logo.png"/>
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	      <ul class="nav">
	        <li><a href="/">Home</a></li>
	        <li class="active"><a href="/dashboard/">Dashboard</a></li>
	        <li><a href="/about/">About</a></li>
	      </ul>
	    </div>
	  </div>
	</div><!-- /.navbar -->
	</div><!-- masthead -->
	<div clas="container">
		<table class="table table-striped myspan" >
			<caption><h2>Your contributions</h2></caption>
			<thead>
				<tr>
					<th>Axiom label</th>
					<th>Your response</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>

							<tr>
					<td><a href="http://semanticscience.org/resource/SIO_000012">organization</a> is a <a href="http://semanticscience.org/resource/SIO_000620">collective</a></td>
					<td>yes</td>
					<td>Obvious</td>

				</tr>
							<tr>
					<td><a href="http://semanticscience.org/resource/SIO_000912">measurement scale</a> is a <a href="http://semanticscience.org/resource/SIO_000090">specification</a></td>
					<td>no</td>
					<td>NA</td>

				</tr>
							<tr>
					<td><a href="http://semanticscience.org/resource/SIO_010038">drug</a> is a <a href="http://semanticscience.org/resource/SIO_011125">molecule</a></td>
					<td>No</td>
					<td>Idiot</td>

				</tr>
			</tbody>
		</table>
	</div>
	
</div>
