#{extends 'main.html' /}
#{set title:'SignIn' /}

 <div class="container">
  <div class="masthead">
    <img src="/public/images/logo.png"/>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
  </div><!-- masthead -->

  <form class="form-signin" action="/dashboard/">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="input-block-level" placeholder="jose@gmail.com">
    <input type="password" class="input-block-level" placeholder="********">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>
 <div class="footer">
    <p>&copy; SemanticTrilogy Hackathon 2013</p>
 </div>
</div> <!-- /container -->
